.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  /* z-index: 1000; */
}

.isHidden {
  display: none;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  height: auto;
  overflow-y: auto;
  max-height: 90vh; 
}

.form-container.isMobile {
  width: 100%;
}

.form-container.isDesktop {
  max-width: 600px !important;
  width: 50% !important;
}

.form-title {
  text-align: center;
  margin-top: -0.3rem;
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-family: DM Sans;
  font-weight: bold;
}

.form-box {
  height: 5rem;
  border: 2px solid black;
  border-radius: 0.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.form-state-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.3125rem;
}

.form-state-img.oficina {
  object-position: center 0%;
}

.form-state-img.viaje {
  object-position: center 2.5rem;
}

.form-state-img.vacaciones {
  object-position: center -1rem;
}

.form-state-img.baja {
  object-position: center 35%;
}

.form-box-text {
  height: 6rem;
  border: 2px solid black;
  border-radius: 0.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 0.5rem;
}

.form-label {
  font-family: DM Sans;
  font-size: 0.8125rem;
  font-weight: bold;
  color: #050505;
  position: relative;
  display: block;
  text-align: right;
  margin-top: 0.5rem;
}

.form-group {
  margin-bottom: 15px;
}

.form-group-label {
  font-size: 0.9rem;
  font-weight: bold;
  color:#050505;
}

.form-button-filter {
  background-color: transparent;
  cursor: pointer;
  padding: auto;
}

.form-button-icon-filter {
  width: 1.1rem;  
  height: 1.1rem;
  background-color: white; /* Asegura que no haya fondo */
  display: block; /* Asegura que la imagen no tenga márgenes */
  border-radius: 4px;
  margin-top: 0.3rem;
}


.form-group-label-filter {
  display: flex;
  flex-direction: row; /* Organiza los elementos en filas */
  justify-content: space-between;
  width: 100%; /* Asegura que el contenedor ocupe el 100% */
}

.form-select {
  width: 100%;
  padding: 8px;
  border: 2px solid black !important;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
}

.select-container {
  position: relative;
}

.select-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  pointer-events: none;
}

.form-textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  padding: 0;
  font-family: sans-serif;
  border-radius: 4px;
  outline: none;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.button-group button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-group button[type="submit"] {
  background-color: #5cb85c;
  color: white;
}

.button-group button[type="button"] {
  background-color: #d9534f;
  color: white;
}

.date-inputs {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.form-date-input {
  width: 100%;
  max-width: 7rem;
  padding: 0.5rem;
  border: 2px solid black !important;
  border-radius: 4px;
  text-align: center;
  font-size: 0.9rem;
}

.no-calendar::-webkit-calendar-picker-indicator {
  display: none;
}

.date-input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* Ajusta el espacio entre los elementos */
  width: 100%;
}

.calendar-button {
  display: flex; /* Activa Flexbox para centrar contenido */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  padding: 0; /* Asegúrate de que no haya padding innecesario */
  width: 2.5rem; /* Ajusta el tamaño del botón según sea necesario */
  height: 2.5rem; /* Ajusta el tamaño del botón según sea necesario */
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.form-button-icon {
  background-color: white; /* Asegura que no haya fondo */
  display: block; /* Asegura que la imagen no tenga márgenes */
}



.form-button-icon-calendar {
  width: 2.2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  /* Asegura que la imagen se ajuste sin distorsión */
  background-position: center;
  /* Centra la imagen */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  cursor: pointer;
  /* Cambia el cursor al pasar por encima */
}

.form-button-reload img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: white; /* Asegura que el fondo del botón sea blanco */
  border: none; /* Elimina cualquier borde predeterminado */
  margin-bottom: 10px; /* Elimina el padding extra */
}

.align-right {
  display: flex; /* Utiliza flexbox para manejar la alineación */
  justify-content: flex-end; /* Alinea el contenido (hijos) hacia la derecha */
  align-items: center; /* Alinea verticalmente al centro */
  width: 100%; /* Asegura que ocupe todo el espacio disponible */
  background-color: white;
}

.form-button-reload {
  width: 1.5rem;
  /* Definir el ancho del botón */
  height: 1.5rem;
  /* Definir la altura del botón */
  padding: 0;
  /* Eliminar el padding para que ocupe todo el espacio */
  display: flex;
  /* Usar flexbox para que la imagen ocupe todo el contenedor */
  justify-content: center;
  /* Centrar la imagen horizontalmente */
  align-items: center;
  /* Centrar la imagen verticalmente */
  background-color: white;
}

.calendar-button:hover {
  background-color: #def1fa;
}

.calendar-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 101;
}

.select-button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.select-button:hover {
  background-color: #0056b3;
}

.time-picker-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* Espaciado entre las filas */
}

.time-picker-row {
  display: flex;
  justify-content: space-between;
  /* Espaciado entre los inputs */
}

.time-picker-item {
  flex: 1;
}

.input-container {
  display: flex;
  height: 2.5rem;
  width: 10rem;
}

.input-container-break {
  display: flex;
  height: 2.5rem;
  width: 7.4rem;
}

.form-group-label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden;    /* Recorta el texto si no cabe */
  text-overflow: ellipsis;
}

.text-field-noborder .MuiOutlinedInput-root {
  border: none;
  /* Elimina los bordes */
}

.text-field-noborder .MuiOutlinedInput-notchedOutline {
  border: none;
  /* Elimina el contorno (outline) */
}

.time-picker-wrapper {
  position: relative;
  z-index: 1;
  /* Esto asegura que el selector de tiempo se muestre encima del fondo */
}

.form-container {
  position: relative;
  z-index: 0;
}

.time-picker {
  display: flex;
  flex-direction: column;
}

.time-picker-input.isMobile {
  margin-right: 15%;
}

.time-picker-input.isDesktop {
  margin-right: 30%;
}

.time-picker-row {
  gap: 0rem;

  display: flex;
}

.time-input {
  background-color: #ffffff;
  height: 2.5rem !important;
  width: 7rem !important;
  text-align: center;
  padding-left: none;
  margin: 0;
  border: 2px solid black !important;
  padding: 0 !important;
}

.time-12::-webkit-calendar-picker-indicator {
  padding-right: 1rem;
  margin-left: -1rem;
}

.time-3::-webkit-calendar-picker-indicator {
  display: none;
}

.time-input::-webkit-outer-spin-button,
.time-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-draw-box {
  border: 2px solid black;
  border-radius: 6px;
  width: 100%;
  /* Asegura que el contenedor ocupe todo el ancho */
  height: 100%;
  /* Asegura que el contenedor ocupe toda la altura disponible */
  display: flex;
  /* Usa flexbox para que el hijo ocupe todo el espacio */
}

.form-draw-box canvas {
  width: 100%;
  /* Asegura que el canvas ocupe todo el ancho */
  height: 100%;
  /* Asegura que el canvas ocupe toda la altura */
}

.form-button-ends {
  display: flex;
  justify-content: center; /* Centra los botones en el contenedor */
  margin-top: 2rem;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.form-button-ends button {
  margin: 0 2rem; /* Separa los botones entre sí por 10rem en total (5rem a cada lado) */
}

.form-button-submit {
  padding: 10px 15px;
  width: 7rem;
  height: 3rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #222222;
}

.form-button-cancel {
  padding: 10px 15px;
  width: 7rem;
  height: 3rem;
  background-color: #7c7c7c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #222222;
}

.header-container {
  display: flex;
  justify-content: space-between; /* Alinea el título y el botón en los extremos */
  align-items: center; /* Alinea verticalmente los elementos */
  padding: 10px;
}

.title {
  flex: 1; /* Hace que el título ocupe el espacio disponible */
  text-align: center; /* Centra el texto del título */
  font-size: 1.3rem;
  font-family: DM Sans;
}

.close-btn {
  background-color: #ff4d4d; /* Color de fondo del botón (rojo, por ejemplo) */
  color: white; /* Color del texto del botón */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 15px; /* Aquí redondeamos los bordes */

}

.close-btn:hover {
  background-color: #cc0000; /* Cambia el color de fondo cuando el ratón pasa por encima */
}
