.timesheets-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  position: relative;
  background-color: #F2F2F2;
  padding: 1.25rem;
  min-width: 100%;
  width: auto; /* Permite que el ancho se adapte al contenido */
}

@media (max-width: 800px) {
  .timesheets-container {
    grid-template-columns: 1fr; /* Una sola columna */
  }
  
  .timesheets-main-container {
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  }
}

.timesheets-main-container {
  min-height: 90vh;
  background-color: white;
  border: 0.125rem solid black;
  display: flex;
  flex-direction: column;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho disponible */
  box-sizing: border-box; /* Incluye el padding y border en el tamaño total */
}

.timesheets-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}

.timesheets-title {
  margin: 0;
  font-family: DM Sans;
  font-size: 1.25rem;
  text-shadow: 0.2rem 0.2rem 0.15rem rgba(0, 0, 0, 0.2);
}

.timesheets-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.2rem;
  position: relative;
}

.timesheets-button-oficina {
  height: 5rem;
  border: 2px solid black;
  border-radius: 0.3125rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.timesheets-button-onsite {

  height: 5rem;
  border: 2px solid black;
  border-radius: 0.3125rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  /* Asegúrate de que no haya padding en el contenedor */
}

.timesheets-button-vacaciones {
  height: 5rem;
  border: 2px solid black;
  border-radius: 0.3125rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.timesheets-button-baja {
  height: 5rem;
  border: 2px solid black;
  border-radius: 0.3125rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

}

.timesheets-button-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.3125rem;
}

.timesheets-button-img-onsite {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center 35%;
  border-radius: 0.3125rem;
}

.timesheets-button-img-vacaciones {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center 67%;
  border-radius: 0.3125rem;
}

.timesheets-button-img-baja {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center 60%;
  border-radius: 0.3125rem;
}

.timesheets-button-text {
  font-family: DM Sans;
  font-size: 1rem;
  font-weight: bold;
  color: black;
}

.timesheets-label {
  font-family: DM Sans;
  font-size: 0.8125rem;
  font-weight: bold;
  color: black;
  position: absolute;
  bottom: -1.2rem;
  right: 0rem;
}

.timesheets-button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.timesheets-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 49%;
}

.timesheets-label-right {
  margin-top: 0.3rem;
  width: 100%;
  text-align: right;
  font-family: DM Sans;
  font-size: 0.8125rem;
  font-weight: bold;
  color: black;
  bottom: -1.2rem;
  right: 0rem;

}

.timesheets-last-entry-container {
  margin-top: 4rem;
  min-height: 13.5rem;
  border: 2px solid black;
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 0.3125rem;
}

.timesheets-last-entry-label {
  font-family: DM Sans;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
}

.timesheets-last-entry-type {
  font-family: DM Sans;
  font-size: 0.75rem;
  font-weight: bold;
  color: #9e0000;
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
}

.timesheets-last-entry-details {
  display: flex;
  position: absolute;
  top: 3rem;
  left: 1rem;
  width: calc(100% - 4rem);
  justify-content: space-between;
  padding: 0 1rem;
}

.timesheets-last-entry-detail-label {
  font-family: DM Sans;
  font-size: 0.65rem;
  color: #9F9292;
  text-shadow: 0.12rem 0.12rem 0.1rem rgba(0, 0, 0, 0.2);
}

.timesheets-last-entry-data {
  border: 0.125rem solid black;
  border-radius: 0.3125rem;
  background-color: white;
  width: calc(100% - 1.25rem);
  height: 2.5rem;
  position: absolute;
  top: 4.2rem;
  left: 0.625rem;
}

.timesheets-repeat-button {
  height: 3rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.125rem solid black;
  border-radius: 0.3125rem;
  background-color: #333131;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.timesheets-repeat-button-text {
  font-family: DM Sans;
  color: white;
}

.timesheets-history-container {
  min-height: 90vh;
  width: 100%;
  background-color: white;
  border: 0.125rem solid black;
  display: flex;
  flex-direction: column;
  border-radius: 0.3125rem;
}

.timesheets-history-header {
  padding: 0.625rem;
  border-bottom: 0.125rem solid black;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 3.125rem;
}

    .timesheets-history-header-top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

.timesheets-history-title {
  margin: 0;
  font-family: DM Sans;
  font-size: 1.25rem;
  text-shadow: 0.2rem 0.2rem 0.15rem rgba(0, 0, 0, 0.2);
}

    .timesheets-history-filters {
      width: 100%;
    }

.timesheets-history-filter-label {
  margin-right: 0.3125rem;
  font-family: DM Sans;
  font-size: 0.8125rem;
}

.timesheets-history-filter-checkbox {
  margin-right: 0.3125rem;
}

.timesheets-history-header-bottom {
  display: flex;
  position: absolute;
  bottom: -0.5rem;
  width: calc(100% - 2.5rem);
  height: 2.5rem;
  align-items: center;
  justify-content: space-between;
  left: 1.25rem;
}

.timesheets-history-header-bottom-label {
  text-align: center;
  font-size: 0.75rem;
  font-family: DM Sans;
  color: #9F9292;
  text-shadow: 0.12rem 0.12rem 0.1rem rgba(0, 0, 0, 0.2);
  margin-right: 0.0625rem;
}

    .timesheets-history-content {
      flex: 1;
      overflow-y: auto;
      padding: 0.625rem;
    }

    .timesheets-table {
      width: 100%;
      border-collapse: collapse;
    }
    
    .timesheets-table th,
    .timesheets-table td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: left;
    }
    
    .timesheets-table th {
      background-color: #f2f2f2;
    }

    .filters-header {
      text-align: left;
      padding: 8px;
    }
    
    .filter-row.show {
      height: 50px; /* Altura de la fila */
      visibility: visible;
      opacity: 1;
    }
    
    .filter-row.hide {
      height: 0;
      visibility: hidden;
      opacity: 0;
    }
    
    .filters-row {
      overflow: hidden;
      transition: all 0.5s ease;
      display: flex;
    }
    
    .filters-visible {
      opacity: 1;
      visibility: visible;
      transition: visibility 0.5s ease, opacity 0.5s ease;
    }
    
    .filters-hidden {
      opacity: 0;
      visibility: collapse;
      transition: visibility 0.5s ease, opacity 0.5s ease;
    }

    .tableTr {
      background-color: red;
      transition: all 0.5s ease;
      display: flex;
      overflow: hidden;
    }
    
    .close {
      max-height: 0;
    }
    
    .open {
      max-height: 100px;
    }

    .filters-container {
      display: flex;
      /* flex-direction: column; */
      flex-wrap: wrap;
      gap: 10px;
      padding: 10px;
      background-color: #f9f9f9;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 20px;
      /* overflow: hidden; */
      transition: all 0.3s ease;
      width: -moz-available;
    }
    
    .filters-visible {
      height: auto;
    }
    
    .filters-hidden {
      max-height: 0;
    }
    
    .filter-row {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    
    .filter-input {
      width: 100%;
      flex: 1;
      box-sizing: border-box;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
      font-size: 0.9rem;
      width: 12rem !important;
      text-align: left !important;
      padding-left: 5px !important;
    }
    
    .apply-filters-button {
      padding: 10px 15px;
      background-color: #28a745;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
    }

    .filter-toggle-button {
      padding: 8px;
      background-color: transparent; /* Sin fondo */
      border: none;
      cursor: pointer;
      font-size: 24px; /* Ajusta el tamaño del ícono */
      color: #a0a0a0; /* Azul predeterminado */
      transition: transform 0.3s ease; /* Animación suave */
    }
    
    .filter-toggle-button:hover {
      color: #525252; /* Azul más oscuro al pasar el mouse */
    }
    
    .timesheets-sort-container {
      margin: 10px 0;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0.625rem;
    }
    
    .timesheets-sort-dropdown {
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
    }
    
    .timesheets-sort-dropdown:hover {
      border: 1px solid #a0a0a0;
    }

    .sortby-icon {
      padding: 8px;
      background-color: transparent; /* Sin fondo */
      border: none;
      font-size: 24px; /* Ajusta el tamaño del ícono */
      color: #a0a0a0; /* Azul predeterminado */
      transition: transform 0.3s ease; /* Animación suave */
    }
